<div class="movie-details__overview" *ngIf="movie">
  <h3 class="movie-details__overview-title">{{ title }}</h3>
  <p class="movie-details__overview-paragraph">
    {{ movie.overview }}
  </p>
  <div class="movie-details__overview-common" *ngIf="directorName">
    <p class="movie-details__overview-common-key">{{ directorText }}</p>
    <p class="movie-details__overview-common-value">{{ directorName }}</p>
  </div>
  <div class="movie-details__overview-common" *ngIf="movie.tagline">
    <p class="movie-details__overview-common-key">{{ tagLine }}</p>
    <p class="movie-details__overview-common-value">
      {{ movie.tagline }}
    </p>
  </div>
  <div class="movie-details__overview-common" *ngIf="movie.runtime">
    <p class="movie-details__overview-common-key">{{ runtime }}</p>
    <p class="movie-details__overview-common-value">
      {{ movie.runtime }} {{ minutes }}
    </p>
  </div>
  <div class="movie-details__overview-common" *ngIf="movie.budget">
    <p class="movie-details__overview-common-key">{{ budget }}</p>
    <p class="movie-details__overview-common-value">
      {{ movie.budget | currency : "USD" }}
    </p>
  </div>
  <div
    class="movie-details__overview-common"
    *ngIf="movie.spoken_languages.length"
  >
    <p class="movie-details__overview-common-key">{{ spokenLanguages }}</p>
    <p
      class="movie-details__overview-common-value"
      *ngFor="let lang of movie.spoken_languages; index as i"
    >
      {{ lang.english_name }}
      <span *ngIf="i < movie.spoken_languages.length - 1">-</span>
    </p>
  </div>
</div>
