<div class="movie-details__overview" *ngIf="movie">
  <h3 class="movie-details__overview-title">{{ title }}</h3>
  <p class="movie-details__overview-paragraph">
    {{ movie.overview }}
  </p>
  <div class="movie-details__overview-director" *ngIf="directorName">
    <p class="movie-details__overview-director-key">{{ directorText }}</p>
    <p class="movie-details__overview-director-value">{{ directorName }}</p>
  </div>
  <div class="movie-details__overview-tagline" *ngIf="movie.tagline">
    <p class="movie-details__overview-tagline-key">{{ tagLine }}</p>
    <p class="movie-details__overview-tagline-value">
      {{ movie.tagline }}
    </p>
  </div>
</div>
