@import "src/styles/mixins/media-querys.scss";
.movie {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  &__link {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    img {
      max-width: 100%;
      width: 100%;
      object-fit: fill;
      max-height: 390px;
      border-radius: 5px;
      @include mobile {
        min-height: 274px;
      }
    }
  }
}
