@import "src/styles/main.scss";
.upcoming-movies {
  max-width: $max-width;
  margin: 1.5rem auto;
  &__title {
    color: $primary;
    font-size: $font-title;
    cursor: default;
    margin-bottom: 1.5rem;
    @include mobile {
      font-size: $font-title-mobile;
    }
  }
}
