@import "src/styles/variables/variables.scss";
@import "src/styles/mixins/media-querys.scss";
.upcoming-movies {
  max-width: $max-width;
  margin: 1.5rem auto;
  &__title {
    color: $primary;
    font-size: $font-title;
    cursor: default;
    margin-bottom: 1.5rem;
    @include mobile {
      font-size: $font-title-mobile;
    }
  }
  &__container {
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__loading {
    padding: 1.5rem 0;
    max-width: 100%;
    width: 100%;
    display: grid;
    place-content: center;
  }
}
