<div class="credits" *ngIf="credits?.cast?.length">
  <div class="credits__cast">
    <div class="credits__cast-header">
      <h3 class="credits__cast-header__title">{{ castTitle }}</h3>
    </div>
    <div class="credits__cast-container">
      <div
        class="credits__cast-container__item"
        *ngFor="let cast of credits?.cast?.slice(0, 10)"
      >
        <img
          [src]="baseImageUrl + cast.profile_path"
          [alt]="cast.name"
          *ngIf="cast.profile_path"
          loading="lazy"
        />
        <img
          [src]="profileUrl"
          [alt]="cast.name"
          *ngIf="!cast.profile_path"
          loading="lazy"
        />
        <p class="credits__cast-container__item-name">{{ cast.name }}</p>
      </div>
    </div>
  </div>
</div>
