@import "src/styles/main.scss";

.movie-details {
  max-width: $max-width;
  margin: 1.5rem auto 0 auto;

  &__top {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    height: calc(70vh - 162px);
    column-gap: 1.5rem;
    @include mobile {
      flex-wrap: wrap;
      row-gap: 1.5rem;
      height: unset;
    }
    img {
      height: 100%;
      max-width: 100%;
      border-radius: 5px;
      flex: 25%;
    }
    &__video-title {
      @include mobile {
        flex: 100%;
        color: $title;
        font-size: $font-subtitle-mobile;
        padding-left: 0.5rem;
        border-left: 3px solid $primary;
        i {
          margin-left: 0.5rem;
        }
      }
    }
    &-video {
      flex: 75%;
      border-radius: 5px;
      border: 1px solid $primary-hover;
      &.no-video {
        border: none;
      }
      @include mobile {
        flex: 100%;
        height: 250px;
        &.no-video {
          height: unset;
        }
      }
    }
  }
}
