@import "src/styles/main.scss";
.movie-list {
  max-width: $max-width;
  margin: 1.5rem auto;

  &__container {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    column-gap: 1.5rem;
    @include mobile {
      grid-template-columns: 1fr;
    }
    &.search {
      grid-template-columns: 1fr;
    }
    &-left {
      max-width: 100%;
      &__title {
        font-size: $font-info;
        color: $text;
        height: 32px;
        display: flex;
        align-items: center;
        @include mobile {
          column-gap: 2.5rem;
          justify-content: center;
          border: 1px solid $text;
          border-radius: 5px;
        }
      }
    }
    &-right {
      @include mobile {
        margin-top: 1.5rem;
        &.genres {
          margin-top: 0;
        }
      }
      &__title {
        color: $primary;
        font-size: $font-title;
        cursor: default;
        margin-bottom: 1.5rem;
        span {
          font-size: $font-subtitle;
          font-style: italic;
          text-transform: lowercase;
          @include mobile {
            font-size: $font-subtitle-mobile;
          }
        }
        @include mobile {
          font-size: $font-title-mobile;
        }
      }
    }
  }
}
