<div class="movie-carousel">
  <div class="movie-carousel__info">
    <div class="movie-carousel__info-container">
      <swiper
        [config]="swiperConfig"
        [navigation]="{
          nextEl: '.right-hero',
          prevEl: '.left-hero'
        }"
        [autoplay]="{ delay: 7000 }"
        [loop]="true"
      >
        <ng-container *ngFor="let movie of movies; index as i">
          <ng-template swiperSlide>
            <div class="backdrop">
              <h1 class="backdrop__title">
                {{ movie?.original_title }}
              </h1>
              <p class="backdrop__info">{{ movie.overview }}</p>
              <p class="backdrop__rating">
                <i class="fas fa-star"></i> {{ ratingText }}
                {{ movie?.vote_average }}
                {{
                  movie?.vote_count ? " / " + votesText + movie?.vote_count : ""
                }}
              </p>
              <a [routerLink]="'/movie/' + movie.id" class="backdrop__link">{{
                seeMoreText
              }}</a>
            </div>
            <img
              [src]="movieBackdropBaseUrl + 'original' + movie.backdrop_path"
              [alt]="movie?.title"
              class="principal-image"
              [loading]="i > 0 ? 'lazy' : 'eager'"
              [attr.fetchpriority]="i > 0 ? 'low' : 'high'"
            />
          </ng-template>
        </ng-container>
      </swiper>
      <button class="left-hero">
        <i class="fas fa-chevron-left"></i>
      </button>
      <button class="right-hero">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
