@import "src/styles/variables/variables.scss";
@import "src/styles/mixins/media-querys.scss";
.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  // margin: auto;
  min-height: calc(100vh - 168px);
  position: relative;
  height: 100%;
  @include mobile {
    padding: 0 1.125rem;
  }
}
