$primary: #f5c518 !default;
$primary-hover: rgba(245, 197, 24, 0.1);
$primary-dark: #09fcbf;
$link-color: #5799ef;
$secondary: #747881 !default;
$success: #5dac06 !default;
$danger: #db0002 !default;
$warning: #ffc107 !default;
$info: #17a2b8 !default;
$light: #d3d6db !default;
$dark: #121212; //#121f3d !default;
$background: #000000; //#121f3d !default;
$background-secondary: #0a0a0a; //#172A45 !default;
$background-alt: #252424;
$background-light: #0953fd !default;
$inverse: #ffffff !default;
$text: #ffffffb3 !default;
$text-hover: #ecf0f3 !default;
$title: #ffffff !default;
$text-color: #ffffff !default;
$title-hover: #fbfdfe !default;
$transparent: transparent !default;
$visual-focus: #6d9df7 !default;
$background-focus: rgba(80, 176, 244, 0.1);

$max-width: 1140px;

$font-title: 2rem;
$font-title-mobile: 1.5rem;

$font-subtitle: 1.5rem;
$font-subtitle-mobile: 1.25rem;
$font-info: 1.15rem;
$font-text: 1rem;

$nav-text: 0.875rem;
