@import "src/styles/main";

:host {
  margin-left: auto;
  width: 30%;
  position: relative;
}
div {
  &.searchbox {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid $inverse;
    background: $dark;
    border-radius: 25px;
    button {
      border: 1px solid $secondary;
      outline: none;
      background: transparent;
      color: $text;
      height: 2rem;
      margin-left: 0.25rem;
      text-transform: capitalize;
      border-radius: 5px;
    }
    @include mobile {
      width: 98%;
      border: none;
      border-radius: 5px;
      margin: auto;
      padding-bottom: 0.5rem;
    }
    input {
      width: 100%;
      border-radius: 25px;
      height: 2rem;
      border: none;
      padding: 5px 5px 5px 12px;
      background: $dark;
      color: $text;
      font-size: $font-text;
      @include mobile {
        border-radius: 5px;
        border: 1px solid $secondary;
      }
      &:focus {
        outline: none;
      }
    }
    i {
      color: $text;
      font-size: $font-subtitle-mobile;
      position: absolute;
      right: 0.75rem;
      cursor: pointer;
      @include mobile {
        right: 3.75rem;
      }
      &.fa-times {
        right: 2.5rem;
        color: $secondary;
        @include mobile {
          right: 5.75rem;
        }
      }
    }
  }
  &.results {
    width: 100%;
    background: $dark;
    min-height: 3rem;
    position: absolute;
    top: 2.6rem;
    padding-top: 1rem;
    border-radius: 20px;
    color: $text;
    border: 1px solid $inverse;
    @include mobile {
      width: 98%;
      border-radius: 5px;
      left: 1%;
      top: 2.3rem;
    }
  }
  &.no-results {
    width: 100%;
    background: $dark;
    height: 3rem;
    position: absolute;
    top: 2.6rem;
    padding-top: 1rem;
    border-radius: 20px;
    border: 1px solid $inverse;
    @include mobile {
      width: 98%;
      border-radius: 5px;
      left: 1%;
      top: 2.3rem;
    }
    &__text,
    p {
      color: $text;
      font-size: $font-text;
      padding-left: 12px;
      display: flex;
      column-gap: 0.25rem;
      span {
        font-weight: bold;
        max-width: 150px;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
