<div class="movies-grid__info">
  <h3 class="movies-grid__info-title">
    {{ title }}
  </h3>
  <a *ngIf="linkTitle" [routerLink]="link" class="movies-grid__info-link"
    >{{ linkTitle }} <i class="fas fa-chevron-right"></i
  ></a>
</div>
<div class="movies-grid">
  <div class="movies-grid__poster" [ngClass]="{ mobile: isMobile }">
    <img
      *ngIf="movies[posterIndex].title"
      [src]="moviePosterBaseUrl"
      [alt]="movies[posterIndex].title"
      [routerLink]="'/movie/' + movies[posterIndex].id"
      [ngClass]="{ 'no-poster': movies[posterIndex].poster_path == null }"
    />
    <ng-container *ngIf="isMobile">
      <img
        *ngFor="let poster of posters; index as i"
        [src]="poster"
        [alt]="movies[i].original_title"
        [routerLink]="'/movie/' + ids[i]"
        class="movies-grid__backdrops-img"
        [ngClass]="{ 'no-poster': movies[i].poster_path == null }"
      />
    </ng-container>
  </div>
  <div class="movies-grid__backdrops" *ngIf="!isMobile">
    <img
      *ngFor="let poster of posters; index as i"
      [src]="poster"
      [alt]="movies[i].original_title"
      [routerLink]="'/movie/' + ids[i]"
      class="movies-grid__backdrops-img"
      [ngClass]="{ 'no-poster': movies[i].poster_path == null }"
    />
  </div>
</div>
