@import "src/styles/variables/variables.scss";
@import "src/styles/mixins/media-querys.scss";
.movie-details__genres {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
  flex-wrap: wrap;
  &-item {
    text-decoration: none;
    color: $primary;
    font-size: $nav-text;
    border: 1px solid $primary;
    padding: 0.5rem;
    border-radius: 3rem;
    &.active {
      background: $primary;
      color: $dark;
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
    }
  }
}
