@import "src/styles/variables/variables.scss";
@import "src/styles/mixins/media-querys.scss";
.footer {
  margin-top: 42vh;
  @include mobile {
    margin-top: 100vh;
  }
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  max-width: 100%;
  height: 106px;
  bottom: 0;
  width: 100%;
  left: 0;
  background: $dark;
  z-index: 1;
  padding: 1.5rem 0 0 0;
  &__container {
    max-width: $max-width;
    margin: auto;
    display: flex;
    align-items: center;
    width: 100%;
    @include mobile {
      padding: 0 1rem;
    }
    &-logo {
      max-width: 74px;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background: $background;
    @include mobile {
      padding: 0 1rem;
    }
    &-container {
      max-width: $max-width;
      margin: auto;
      padding: 1rem;
      @include mobile {
        text-align: center;
      }
      &-text {
        color: $text;
        font-size: $nav-text;
        &:hover {
          color: $primary;
        }
      }
    }
    &-button {
      background: transparent;
      border: 1px solid $primary;
      color: $primary;
      border-radius: 5px;
      padding: 0.35rem 0.5rem;
      &:hover {
        background: $primary-hover;
        cursor: pointer;
      }
    }
  }
}
